h1{
    font-size: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 10px 10px 3px rgb(0, 0, 0);
}
h3{
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
ul{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
img
{
    border: solid;
    border-radius: 20px;
    border-width: 4px;
    border-color: black;
    justify-content: center;
    display: block;   
    margin: 0 auto;
}
body{
    background-color: #212121;
}
hr{
    border: none; 
    height: 4px; 
    background: linear-gradient(to right, rgba(77, 77, 77, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(77, 77, 77, 1) 100%);
    border-radius: 5px;
    
}
